.comment-form {
    width: 80%;
    border-radius: 10px;
    background-color: cadetblue;
    margin: 1rem auto;
    padding: 1rem;
}

.comment-wrapper {
    width: 80%;
    height: 5rem;
    border-radius: 10px;
    background-color: cadetblue;
    margin: 1rem auto;
    padding: 1rem;
}

.comment-user {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.comment {
    margin-bottom: 1rem;
}