{%extends 'partials/base.html'%}
{%load static%}

    {%block title%}
    Trips
    {%endblock title%}

    {%block style%}
    <link rel="stylesheet" href="{%static 'trip/styles/style.css'%}">
    {%endblock style%}

    {%block content%}
    {%if comment_form != "no" %}
    <form action="{%url 'add_comment' country_id%}" method="post" class="comment-form">
        {%csrf_token%}
        {{comment_form}}
        <button type="submit">Comment</button>
    </form>
    {%endif%}
    {%for comment in comments%}
        {%for i in comment%}
        <div class="comment-wrapper">
            <p class="comment-user">{{i.user}}</p>
            <p class="comment">{{i.comment}}</p>
            <p class="comment-date">{{i.date}}</p>
        </div>
        {%endfor%}
    {%endfor%}
    {{users}}
    {%endblock content%}