{%extends 'partials/base.html'%}
{%load static%}

    {%block title%}
    Login
    {%endblock title%}

    {%block style%}
    <link rel="stylesheet" href="{%static 'accounts/styles/login.css'%}">
    {%endblock style%}

    {%block content%}
    <div class="form-wrapper">
        <form method="post" class="login-form">
            {% csrf_token %}
            {{form}}
            <button type="submit">Login</button>
            <p>Don't have an account yet: <a href="{%url 'signup'%}">Sign Up here</a></p>
        </form>
    </div>

    {%endblock content%}